<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">La Visual</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuarios
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <% if (locals.usuarioLogueado) { %>
                  <% if (locals.admin) { %>
                    <li><a class="dropdown-item" href="/users/list">Listado de usuarios</a></li>
                    <li><a class="dropdown-item" href="/users/logout">Cerrar Sesión</a></li>
                  <% } else { %>
                    <li><a class="dropdown-item" href="/users/detail/<%= locals.usuarioLogueado.id %>">Mi perfil</a></li>
                    <li><a class="dropdown-item" href="/users/edit/<%= locals.usuarioLogueado.id %>">Editar cuenta</a></li>
                    <li><a class="dropdown-item" href="/users/logout">Cerrar Sesión</a></li>
                  <% } %> 
                <% } else { %>
                  <li><a class="dropdown-item" href="/users/register">Registrarse</a></li>
                  <li><a class="dropdown-item" href="/users/login">Iniciar Sesión</a></li>
                <% } %>
              </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos y Servicios
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <% if (locals.usuarioLogueado) { %>
                    <li><a class="dropdown-item" href="/products/ferreteria">Ferretería</a></li>
                    <li><a class="dropdown-item" href="#">Electricidad</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/products">Todos Los Productos</a></li>
                    <li><a class="dropdown-item" href="/products/carrito">Ver carrito</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/products/create">Crear Producto</a></li>
                  <% } else { %>
                    <li><a class="dropdown-item" href="/products/ferreteria">Ferretería</a></li>
                    <li><a class="dropdown-item" href="#">Electricidad</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/products">Todos Los Productos</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Nuestros Trabajos</a></li>
                    <li><a class="dropdown-item" href="#">Solicitar presupuesto</a></li>
                  <% } %> 
                </ul>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ayuda</a>
              </li>
          </ul>
          <form class="d-flex mt-3" role="search" action="products/search" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="busqueda">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>